<div>
    <% layout('../share/layout') -%>
</div>

<link rel="stylesheet" href="/stylesheets/user/profile.css">
<script src="/javascripts/user/profile.js"></script>

<div ng-controller="profileUserController" ng-show="completeLoading" ng-init="getUser()">

    <div class="container my-container-center my-title-header">
        <h1> Hồ sơ người dùng </h1>
    </div>

    <div class="container my-container-profile">
        <form role="form">
            <div class="col-sm-12 col-md-5 animated flipInX my-div-block" id="my-div-block-top">
                <h2 style="text-align:center">Thông tin cá nhân</h2>
                <div class="form-group row">
                    <h6> Email </h6>
                    <div class="input-group my-div my-div-2">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope fa-lg"></i>
                        </span>
                        <input type="text" class="form-control" disabled ng-value="email">
                    </div>

                    <h6> Tên người dùng </h6>
                    <div class="input-group my-div my-div-2">
                        <span class="input-group-addon">
                            <i class="fa fa-address-card fa-lg"></i>
                        </span>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Tên người dùng" ng-model="username" maxlength="30">
                    </div>

                    <h6> Số điện thoại </h6>
                    <div class="input-group my-div my-div-2">
                        <span class="input-group-addon">
                            <i class="fa fa-phone-square fa-lg"></i>
                        </span>
                        <input type="number" class="form-control" id="tel" name="tel" placeholder="Số điện thoại" ng-model="tel">
                    </div>

                    <h6> Thay đổi ảnh đại diện </h6>
                    <div class="my-input-avatar">
                        <a href="" ng-click="clickUploadImage()">
                            <img class="imageAvatar" id="imageAvatar" name="imageAvatar" ng-src="{{avatar}}">
                        </a>
                        <input type="file" style="display:none" id="fileInputAvatar" name="fileInputAvatar" accept="image/*" onchange="readURL(this)">
                        <span> </span>
                        <button type="button" class="btn btn-secondary my-btn text-center" ng-click="clickUploadImage()" style="color:black">
                            Chọn ảnh đại diện (avatar)
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>

            <div class="col-sm-12 col-md-5 animated flipInX my-div-block">
                <h2 style="text-align:center">Mạng xã hội</h2>
                <div class="form-group row">
                    <h6> Facebook </h6>
                    <div class="input-group my-div my-div-2">
                        <span class="input-group-addon">
                            <i class="fa fa-facebook-square fa-lg"></i>
                        </span>
                        <input type="text" class="form-control" id="facebook" name="facebook" placeholder="http://" ng-model="facebook">
                    </div>

                    <h6> Google+ ID </h6>
                    <div class="input-group my-div my-div-2">
                        <span class="input-group-addon">
                            <i class="fa fa-google-plus-square fa-lg"></i>
                        </span>
                        <input type="text" class="form-control" id="google" name="google" placeholder="Google+ ID" ng-model="google">
                    </div>

                    <h6> Tài khoản Skype </h6>
                    <div class="input-group my-div my-div-2">
                        <span class="input-group-addon">
                            <i class="fa fa-skype fa-lg"></i>
                        </span>
                        <input type="text" class="form-control" id="skype" name="skype" placeholder="Skype" ng-model="skype">
                    </div>

                    <h6> Website/Blog </h6>
                    <div class="input-group my-div my-div-2">
                        <span class="input-group-addon">
                            <i class="fa fa-external-link fa-lg"></i>
                        </span>
                        <input type="text" class="form-control" id="website" name="website" placeholder="http://" ng-model="website">
                    </div>

                    <h6> Twitter name </h6>
                    <div class="input-group my-div my-div-2">
                        <span class="input-group-addon">
                            <i class="fa fa-twitter fa-lg"></i>
                        </span>
                        <input type="text" class="form-control" id="twitter" name="twitter" placeholder="Tên Twitter" ng-model="twitter">
                    </div>
                </div>
            </div>
            <div class="container my-container-center my-bot-form">
                <button type="submit" class="btn btn-primary my-btn-profile text-center animated slideInUp" ng-click="clickSave()">
                    <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                    Lưu thay đổi
                </button>
            </div>
        </form>
    </div>
</div>
