body {
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #100C85;
}

h1,
h3,
h5 {
    text-transform: uppercase;
    font-weight: bold;
}

h2,
h4,
h6 {
    font-weight: bold;
}

.my-container-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.my-div {
    margin: 10px 0px;
}

.my-footer {
    color: white;
    padding: 20px 0;
    background-color: #222222;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
}

.my-title-header {
    margin-top: 100px;
    margin-bottom: 50px;
    color: rgb(0, 160, 0);
    letter-spacing: 1px;
    font-family: 'Paytone One', sans-serif;
}

.form-control {
    color: black;
    font-size: 1em;
}

.my-font-title {
    font-family: 'Paytone One', sans-serif;
}

.my-text-bold {
    font-weight: bold;
}


/* ----------   MODAL CUSTOM -----------  */

.my-modal-dialog {
    overflow-y: initial !important
}

.my-modal-header {
    padding: 30px 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.my-modal-content {
    border-radius: 15px;
}

.my-modal-body {
    margin: 0px 30px;
    overflow-y: auto;
    /* scroll in modal */
}

@media screen and (orientation:portrait) and (max-width: 576px) {
    .my-modal-body {
        margin: 0px 30px;
        overflow-y: auto;
        height: 300px;
        /* scroll in modal */
    }
}

@media screen and (orientation:landscape) and (max-width: 767px) {
    .my-modal-body {
        margin: 0px 30px;
        overflow-y: auto;
        height: 200px;
        /* scroll in modal */
    }
}


/*----------------  NAVBAR CUSTOM  --------------*/

.navbar-custom {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(0, 0, 0, 0.85);
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

.my-containter-full {
    width: 100%;
    padding: 0px 30px;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    border: none;
    color: white;
}

.navbar-custom .navbar-nav li a {
    border: none;
    color: white;
}

.navbar-custom .navbar-nav li a:hover {
    color: rgba(0, 180, 0, 0.6);
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
    border: none;
    color: white;
}

.navbar-custom .navbar-nav li.active a {
    border: none;
    color: white;
}

.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
    border: none;
    color: white;
    background: rgba(0, 180, 0, 0.6);
}

.navbar-custom .navbar-toggle {
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: white;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: rgba(0, 180, 0, 0.6);
    border-color: rgba(0, 180, 0, 0.6);
    color: white;
}

.navbar-nav li:hover {
    border-radius: 5px;
    background-color: rgba(0, 250, 0, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-nav li:hover>a:hover {
    color: black;
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 12px 0;
        font-size: 1em;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }
    .navbar-custom .navbar-brand {
        font-size: 1.8em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom.affix {
        padding: 10px 0px;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}

.my-shrink-nav {
    font-size: 0.8em;
    padding: 3px;
    background: rgba(0, 0, 0, 0.95);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5;
    transition: all 0.5;
}