.my-detail-film p {
    line-height: 160%;
    font-size: 1.1em;
    color: black;
    text-align: justify;
}

.my-detail-film h4 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: black;
}

.my-detail-film {
    margin-bottom: 100px;
}

.my-detail-image img {
    width: 95%;
    opacity: 0.9;
    border-radius: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
    .my-detail-image img {
        width: 60%;
    }
}

.my-detail-image img:hover {
    opacity: 1;
    border-radius: 0px;
    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.title-name-film {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.my-modal-image {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.my-modal-image img {
    height: 90%;
}